// Color Palette
$blue:      #2c5794;
$dark-blue: #263c53;
$yellow:    #ffce08;
$light-blue:#009cba;
$gray:      #3b4047;
$black:     rgb(45, 45, 45);
$white:     #FFF;

// Aspect Ratio
$max-width:  1200px;
$nav-height: 100px;
$bar-height: 50px;

// fonts
